# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Node / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets
.env
.env.local
.env.*.local
*.pem
*.key

# Temporary & Log files
*.log
scratch/
tmp/
.cache/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
